* text=auto
*.svg text eol=lf
*.json text eol=lf
*.js text eol=lf
*.mjs text eol=lf
*.css text eol=lf
*.html text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

*.jpeg binary
*.jpg binary
*.png binary
*.webp binary
*.wav binary
